body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #ffffff;
}

#page-title {
    font-family: "Slabo 13px", serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    color: #1DB954;
    padding: 5px 20px;
    margin: 0;
}

.nav-bar {
    background-color: #121212;
    text-align: right;
    padding: 20px 20px;
    /* margin-bottom: 60px; */
    border-bottom: 2px solid #b3b3b3;
}

.nav-bar button {
    background-color: rgba(0, 0, 0, 0);
    color: #b3b3b3;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: right;
}

.info-panel {
    padding: 20px 15px;
}

#info-text {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    min-height: 1.5em;
}

.primary-button {
    width: 100%;
    background-color: #1DB954;
    padding: 8px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
}

.secondary-button {
    width: 100%;
    padding: 8px;
    color: #b3b3b3;
    background-color: transparent;
    border: 1px solid #535353;
    border-radius: 4px;
    cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
    color: #ffffff;
    background-color: #282828;
    border-color: #b3b3b3;
}

.number-input {
    width: 3.0em;
    height: 2.5em;
    padding: 4px 6px;
    color: #ffffff;
    background-color: #212121;
    border: 1px solid #535353;
    border-radius: 4px;
    text-align: center;
    appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #121212;
    border: 1px solid #535353;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    padding: 20px;
}

.error-message {
    color: red;
}